In [24]:
import pandas as pd
from pydqc import infer_schema, data_summary, data_compare, data_consist

# See https://github.com/SauceCat/pydqc for full information on install etc
# https://stackoverflow.com/questions/46076754/use-package-from-github-in-conda-virtual-environment

In [5]:
applications = pd.read_pickle('C:\\Users\\luken\\Documents\\Home Credit Group\\Data\\app_features.pkl')
applications.sample(10)

,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_YEAR,...,MEAN(pre_app.MEAN(cc_bal.AMT_RECEIVABLE_PRINCIPAL)),MEAN(pre_app.MEAN(cc_bal.AMT_RECIVABLE)),MEAN(pre_app.MEAN(cc_bal.AMT_TOTAL_RECEIVABLE)),MEAN(pre_app.MEAN(cc_bal.CNT_DRAWINGS_ATM_CURRENT)),MEAN(pre_app.MEAN(cc_bal.CNT_DRAWINGS_CURRENT)),MEAN(pre_app.MEAN(cc_bal.CNT_DRAWINGS_OTHER_CURRENT)),MEAN(pre_app.MEAN(cc_bal.CNT_DRAWINGS_POS_CURRENT)),MEAN(pre_app.MEAN(cc_bal.CNT_INSTALMENT_MATURE_CUM)),MEAN(pre_app.MEAN(cc_bal.SK_DPD)),MEAN(pre_app.MEAN(cc_bal.SK_DPD_DEF))
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
338159,27153.0,254700.0,225000.0,90000.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183004,25537.5,545040.0,450000.0,112500.0,0.0,0.0,0.0,0.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151590,11682.0,119925.0,112500.0,99000.0,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437440,13500.0,270000.0,270000.0,225000.0,0.0,0.0,0.0,0.0,0.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
317536,16983.0,183784.5,148500.0,180000.0,0.0,0.0,1.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173983,9742.5,364428.0,238500.0,162000.0,0.0,0.0,0.0,0.0,0.0,3.0,...,9466.77375,9466.77375,9466.77375,0.333333,5.0,0.0,6.333333,0.75,0.0,0.0
114842,12586.5,119893.5,103500.0,67500.0,0.0,1.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347338,52686.0,500490.0,450000.0,405000.0,0.0,0.0,0.0,0.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429957,31167.0,797557.5,688500.0,99000.0,0.0,0.0,0.0,1.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168726,17428.5,338832.0,292500.0,90000.0,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
infer_schema.infer_schema(data=applications, fname='apps', output_root=r'C:\Users\luken\December 2018 Work', 
                          sample_size=0.1, type_threshold=0.5, n_jobs=2, base_schema=None)
print("Schema Infered!")

In [36]:
app_schema = pd.read_excel(r'C:\Users\luken\December 2018 Work\data_schema_apps2.xlsx')
app_schema.sample(10)

,column,type,include,sample_value,sample_num_uni,sample_uni_percentage,sample_min,sample_median,sample_max,sample_std
445,SUM(pre_app.MEAN(pos_cash.CNT_INSTALMENT_FUTURE)),numeric,1,"[20.116666666666667, 5.444444444444445, 46.5, ...",12949,0.36348,0.0,14.909091,2.822952e+02,25.785954
268,MAX(install_pay.NUM_INSTALMENT_NUMBER),numeric,1,"[9.0, 8.0, 10.0, 24.0, 8.0]",178,0.00528,1.0,12.000000,2.200000e+02,25.018020
449,SUM(pre_app.STD(cc_bal.SK_ID_CURR)),numeric,1,"[0.0, 0.0, 0.0, 0.0, 0.0]",1,0.00003,0.0,0.000000,0.000000e+00,0.000000
209,MAX(pre_app.AMT_CREDIT),numeric,1,"[1195101.0, 27468.0, 847296.0, 26262.0, 169941...",15582,0.45969,0.0,225000.000000,6.905160e+06,462353.396148
775,MEAN(pre_app.MAX(pos_cash.MONTHS_BALANCE)),numeric,1,"[-22.0, -29.75, -6.5, -44.666666666666664, -19.5]",1413,0.04225,-92.0,-22.250000,-1.000000e+00,18.607975
340,STD(cc_bal.AMT_RECIVABLE),numeric,1,"[101731.56488620285, 31858.70492673848, 63381....",5993,0.65807,0.0,26975.346889,4.967548e+05,61006.011769
643,MAX(pre_app.MEAN(install_pay.DAYS_ENTRY_PAYMENT)),numeric,1,"[-537.1428571428571, -377.44, -287.33333333333...",21204,0.62933,-2843.5,-293.000000,-3.000000e+00,519.781647
365,MAX(cc_bal.CNT_DRAWINGS_CURRENT),numeric,1,"[2.0, 0.0, 1.0, 44.0, 12.0]",93,0.01013,0.0,4.000000,1.420000e+02,11.174212
338,STD(cc_bal.AMT_PAYMENT_TOTAL_CURRENT),numeric,1,"[31805.412795438377, 5132.984094935835, 8088.6...",6134,0.67355,0.0,6078.722383,5.511352e+05,36821.984078
684,MAX(pre_app.SUM(cc_bal.SK_DPD)),numeric,1,"[0.0, 0.0, 0.0, 0.0, 0.0]",222,0.00655,0.0,0.000000,5.959000e+04,1498.730317

In [40]:
data_summary.data_summary(table_schema=app_schema
                                   ,table=applications
                                   ,fname='applications'
                                   ,sample_size=1.0
                                   ,output_root=r'C:\Users\luken\December 2018 Work'
                                   ,keep_images=False
                                   ,n_jobs=2
                                  )